* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  font-family: "Courier New", Courier, monospace;
}
.container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-box {
  width: 900px;
  height: 250px;
  background-color: aquamarine;
  border-radius: 5px;
  position: relative;
}
#score-box {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  z-index: 2;
  font-weight: 700;
}

#message {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 800;
}
#btn:hover {
  background-color: chocolate;
}
#bg-road {
  position: absolute;
  background-image: url(../images/road-bg.gif);
  background-repeat: repeat-x;
  background-position: bottom;
  z-index: 1 !important;
  width: 900px;
  height: 250px;
  top: 0;
}

#trex {
  position: absolute;
  background-image: url(../images/Trex-character-transparent.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  z-index: 2 !important;
  width: 50px;
  height: 56px;
  left: 50px;
  bottom: 20px;
}
.jump-animate {
  animation: jump 0.7s linear infinite;
}
@keyframes jump {
  0% {
    bottom: 20px;
  }
  30% {
    bottom: 96px;
  }
  70% {
    bottom: 96px;
  }
  100% {
    bottom: 20px;
  }
}

#cactus {
  z-index: 2;
  width: 31px;
  height: 56px;
  background-image: url(../images/cactus-02-cropped-resized.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 20px;
  right: 50px;
  animation: cactusAnimate 2.5s linear infinite;
}

@keyframes cactusAnimate {
  0% {
    left: 900px;
  }
  100% {
    left: 0px;
  }
}
